*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
.rvmrc
.DS_Store
lib/.DS_Store
lib/salesforce/.DS_Store
lib/salesforce/rails/.DS_Store
nbproject